/* Import Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;0,600;0,700;1,200;1,500&display=swap');

:root {
    --pcaBeige: #c3a579;
    --pcaDarkBeige: #b39870;
    --pcaBlue: #0C4A80;
    --pcaDarkBlue: #0b3f6d;
    --pcaGrey: #E6E6E6;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h1.loginHeader {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.btn {
    border-radius: 5px;
    padding: 0.75rem 0.75rem;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
}

.noSelect {
    user-select: none;
}

.twoBtnCol {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 770px) {
    .container {
        max-width: 85%;
        padding-left: 0;
        padding-right: 0;
    }

    .formBtn {
        width: 13rem !important;
    }

    .btn {
        font-size: 1rem;
    }

    h1 {
        font-size: 26px;
    }
}

@media screen and (max-width: 520px) {
    .container {
        max-width: 90%;
    }
    .loginContainer {
        padding: 3rem 2.5rem !important;
    }
}

/* Negate Bootstrap's CSS that applies margin-bottom: 1rem to <p> */
p {
    margin-bottom: 0;
}

.form-control-plaintext {
    padding: 0rem;
}

.formLabel {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

/* Navbar styling */
.pcaNav {
    display: flex;
    background-color: var(--pcaBlue);
    border-bottom: 5px solid var(--pcaBeige);
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0rem;
    user-select: none;
}

.centerInDiv {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.navSection {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.profileBox {
    padding: 5px 5px 0px;
    border-radius: 5px;
    padding-top: 5px;
}
.dropdown {
    color: white;
    transition: all .2s ease-in-out;
    user-select: none;
}
.dropdown:hover {
    color: var(--pcaBeige);
}

.dropdown-menu {
    margin-top: 11px !important;
}
.dropdown-caret {
    padding: 5px 5px 0px;
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
}
/* End navbar styling */


/* Text colors */
.text-beige {
    color: var(--pcaBeige);
}

.text-blue {
    color: var(--pcaBlue);
}

.text-white {
    color: white;
}
/* End text colors */


/* Login form styling */
.loginContainer {
    background-color: var(--pcaBlue);
    margin: 5rem 0;
    padding: 3rem;
    border-radius: 10px;
}

.formBtn {
    width: 15rem;
    color: var(--pcaBlue);
    background-color: var(--pcaBeige);
}

.formBtn:hover {
    color: var(--pcaDarkBlue);
    background-color: var(--pcaDarkBeige);
}

.textBox:focus {
    border-color: white;
    box-shadow: 0 0 0 0.15rem var(--pcaBeige);
}

.formText {
    padding: 1rem 0;
}

a.text-beige:hover {
    color: var(--pcaDarkBeige);
    cursor: pointer;
}

.error {
    color: red;
}
/* End login form styling */


/* Timesheet styling */
.topSection {
    margin-bottom: 1rem;
}

.timesheet {
    border: 2px solid black;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    user-select: none;
}

.headingRow {
    background-color: var(--pcaBlue);
    border-bottom: 1px solid white;
    color: white;
}

th {
    padding: 0.6rem 0;
}

td {
    padding: 0.3rem 0;
}

.middleCols {
    border-left: 1px solid white;
    border-right: 1px solid white;
}


td input.textBox {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid var(--pcaBlue);
}

.hide {
    display: none;
}

.blueBtn {
    color: white;
    background-color: var(--pcaBlue);
}

.blueBtn:hover {
    background-color: var(--pcaDarkBlue);
    color: rgb(230, 230, 230);
}

.switchPageBtn {
    padding: 0.95rem 1.7rem;
}

#submitTimesheetBtn {
    border: 0.2rem solid var(--pcaBlue);
}

.right-align {
    float: right;
}

.left-align {
    float: left;
}

@media only screen and (max-width: 710px) {

	/* Force table to not be like tables anymore */
	table.timesheet, .timesheet tbody, .timesheet th, .timesheet td, .timesheet tr { 
		display: block; 
	}
	
	.headingRow { 
		display: none;
	}
	
	tr { 
        border: 1px solid var(--pcaDarkBlue); 
    }
	
	.timesheet td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	.timesheet td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
        top: 0px;
		left: 6px;
		width: 45%;
        height: 100%; 
        display: flex; 
        justify-content: center;
        flex-direction: column; 
	}

    .timesheet td:nth-of-type(1):before { content: "Date"; }
	.timesheet td:nth-of-type(2):before { content: "Day"; }
	.timesheet td:nth-of-type(3):before { content: "Regular Hours"; }
	.timesheet td:nth-of-type(4):before { content: "PTO"; }
	.timesheet td:nth-of-type(5):before { content: "Extra Hours"; }
	.timesheet td:nth-of-type(6):before { content: "Comments"; }

    .showWhenSmall {
        display: block;
    }

    .hideWhenSmall {
        display: none;
    }

    .twoBtnCol {
        justify-content: center;
    }

    .smallerScreenBtn {
        width: 100% !important;
    }
    
    /* Not for timesheet */
    .formLabel {
        font-size: 1.3rem !important;
    }
}
.chevron {
    width: 1.3rem;
    height: 1.3rem;
}
/* End timesheet styling */

/* Admin dashboard styling */

.adminContainer{
    min-height: 100%;
}

.mainContent{
    margin-left: 235px;
}

#manageBtn{
    width: 20%;
    min-width: 200px;
    height: 150px;
    margin: 10px;
    text-align: center;
}
.sidebar {
    position: relative;
}

.sidebar-item {
    background-color: var(--pcaGrey);
    border-top: #DEDEDE;
    width: 100%;
}

.sidebar-item a {
    text-decoration: none;
    padding: 1rem 1rem 1rem 1rem;
}

.sidebar-item a:hover {
    cursor: pointer;
    color: white;
    background-color: var(--pcaDarkBlue);
}

.sidebar-item a:visited {
    background-color: #c3a579;
}

.mainContent .fa-user, .mainContent .fa-users {
    color: #DEDEDE;
}

/* End admin dashboard styling*/


/* Employee info styling */

.table {
    border:2px solid #0b3f6d;
}

.table-th {
    padding: 10px;
    border-top: solid 2px #0b3f6d;
    border-left: solid 2px #0b3f6d;
    border-right: solid 2px #0b3f6d;
}

.column{
    padding: 10px;
    border: solid 2px #0b3f6d;
}

.row-striped:nth-child(even) {
    background-color: rgba(12, 74, 128, .15);
}

.row-striped:nth-child(odd) {
    background-color: rgba(12, 74, 128, .29);
}


/* Modal styles */
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
  }
  
  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  
  .modal-container {
    width: 50%;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  .modal-header h3 {
    margin-top: 0;
    color: #42b983;
  }
  
  .modal-body {
    margin: 20px 0;
  }
  
  .modal-default-button {
    float: right;
  }

  .modal-enter {
    opacity: 0;
  }
  
  .modal-leave-active {
    opacity: 0;
  }
  
  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }